html
  head
    title React With Node
  
  body
    .max-ht
      #root
    script.
      let CREATED_BY = '!{createdBy}'
    script(type="text/javascript", src="/js/app.js")
    script(type="text/javascript", src="/bundle/bundle.js")